@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.nav-container{
    width: 1140px;
    height: 71px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menue ul{
    display: flex;
    gap: 10px;
}
.menue ul li{
    list-style: none;

}
.menue ul li a{
    text-decoration: none;
}
/* shared styles */
.common-color-01{
    color: #E95A08;
}
.btn-primary{
    width: 270px;
    height: 50px;
    padding: 5px;
    background-color: #E95A08;
    color: white;
    border: none;
}

/* banner styles */
.banner-container{
    width: 1140px;
    height: 461px;
    
    margin: 0 auto;
    display: flex;
}
.banner-text{
    margin-top: 203px;
}
.our-plant{
    margin-top: 160px;
}
.plant-title-container{
    text-align: center;
    /* width: 1140px;
    height: 128px; */
}
.card-container{
    max-width: 1140px;
    height: 999px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    width: 270px;
    height: 481px;

    
}
.about-card-text{
    text-align: center;
}
.banner-title{
    font-weight: 600px;
    font-size: 27px;
}
.flower-plant-lover{
    margin-top: 160px;
}
.flower-plant-container{
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    align-items: center;
    
}
.lover-container{
    width: 514px;
    height: 521px;
    justify-content: center;
}
.lover-title{
    font-weight: 600;
    font-size: 3rem;
}


    

/* latest deal styles */
.deals-container{
    width: 1140px;
    margin: 0 auto;
    justify-items: center;

}
.latest-deal-header-container{
    width: 668px;
    text-align: center;
    
    
    
}
.deals-title{
    font-weight: 600;
    font-size: 3.5rem;
    margin-bottom: 5px;
}


.deals-banner-container{
    display: grid;
    grid-template-columns: 366px auto;
    justify-content: center;

}

.deals-banner-1{
    width: 366px;
    height: 200px;
    border-radius: 10px;
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.deals-banner-2{
    width: 366px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* justify-items: center; */
    border-radius: 10px;
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
}

.deals-banner-3{
    width: 753px;
    height: 423px;
    border-radius: 10px;
    background-image: url(assets/deal-zabo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    
}
.deals-cntent{
    width: 285px;
    
    text-align: center;
}
.shop-now a{
    color: white;
    
    
}
.deals-banner-left{
    display: grid;
    grid-template-columns: 1;
}

.colorful-bunch-container{
    width: 100%;
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    height: 533px;
    text-align: center;
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.bunch-title{
    color: white;
}
input[type=text]{
    width: 644px;
    height: 50px;
    border: none;
}
.btn-sub{
    width: 186px;
    height: 50px;
    color: white;
    background-color: #E95A08;
    border: none;
    margin-left: -5px;
}
.footer-container{
    width: 1120px;
    height: 248px;
    margin: 0 auto;
    display: flex;
}
.about{
    width: 359px;
    height: 169px;
    font-weight: 300;
    font-size: 1.5rem;
}
.footer-menue{
    display: flex;
    gap: 110px;
}
.footer-menue  ul li{
    list-style: none;
    
}
.footer-menue  ul li a{
    text-decoration: none;
    margin-top: 5px;
}
/* .social-link ul{
    display: flex;
    justify-content: end;
} */
.social-link ul li{
    display: inline;
    margin-left: 10px;
    
}


@media screen and (max-width: 576px) {
    .menue ul{
        display: none;
    }
    .banner-image{
        display: none;
    }
    .banner-container{
        width: 551px;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
    }
}
